<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Card-->
        <mdb-card dark="true">

            <!--Card image-->
            <!-- <div class="view overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../assets/img/social.png">
                    <img src="../../assets/img/social.png" alt="logo">
                </mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div> -->
            <!--/.Card image-->

            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
                <a class="activator px-3 mr-2">
                    <i class="fas fa-share-alt white-text"></i>
                </a>

                <!--Title-->
                <mdb-card-title>
                    <h4>Ayuda social</h4>
                </mdb-card-title>

                <hr class="hr-light">

                <!--Text-->

                <mdb-card-text class="white-text">
                    Si quieres ser parte de esto, escribenos a:

                    <p><i class="fas fa-envelope white-text"></i> social@futhuro.net</p>
                    <p></p>
                </mdb-card-text>


            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->



    </div>
</div>