<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <span class="text-primary">futhuro.net</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/">Bienvenido <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <ul class="navbar-nav mx-auto">
            <!-- <li class="nav-item active" *ngIf="!isLogin">
                <a class="nav-link" href="#" routerLink="/login">Login </a>
            </li>
            <li class="nav-item" *ngIf="!isLogin">
                <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" href="#" (click)="onClickLogout()">Salir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> {{nombreUser}} </a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <img src="{{fotoUsuario}}" alt="" class="rounded-circle">
                <span class="badge pill badge-secondary">{{emailUser}}</span>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">Talento humano</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contácto</a>
            </li>
            <li class="nav-item" style="padding-top:3%;">
                <span class="badge pill badge-secondary">futhuro@futhuro.net</span>
            </li>
        </ul>

    </div>
</nav>