<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div class="container mt-3">
    <router-outlet></router-outlet>
    <!-- <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text">
        Bienvenidos
        <div class="text-left">futhuro.net</div>
    </div> -->
    <section id="1">

    </section>
    <section id="2" class="head-main text-center">
        <img src="../assets/img/futhuro.png" alt="logo" heigth="auto;" width="auto;" class="responsive">
    </section>
    <section class="body-main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">

                <p align="justify">Somos una empresa experta en asesorías de Recursos Humanos, reclutamiento de candidatos para puestos gerenciales, administrativos y operativos, selección de personal, capacitaciones, formación de equipos de alto rendimiento, servicios
                    de outsourcing, entre otros.</p>
                <p>FUTHURO se destaca por cumplir las metas de nuestros clientes de acuerdo a sus necesidades y estrategias, entregando ﬁnalmente un servicio que beneﬁcia y potencia sus negocios.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
                <app-rh></app-rh> <br>
                <app-capacitacion></app-capacitacion> <br>
                <app-otros-servicios></app-otros-servicios><br>

            </div><br>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mt-2">
                <app-asesoria></app-asesoria> <br>
                <app-servicios></app-servicios><br>
                <app-social></app-social>
            </div>
            <section class="tcenter">
                <img src="../assets/img/social.png" alt="logo" width="auto;" height="auto;">
            </section>



        </div>

    </section>
    <br> <br>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase font-weight-bold">Contáctenos</h5>
                    <div class="row">
                        <div class="col-md-5">
                            <ul>
                                <li><i class="fas fa-envelope white-text"></i> Capacitaciones: </li>
                                <li><i class="fas fa-envelope white-text"></i> Recursos Humanos: </li>
                                <li><i class="fas fa-envelope white-text"></i> Ayuda Social: </li>
                                <li><i class="fas fa-envelope white-text"></i> Otros Servicios: </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <li>capacitaciones@futhuro.net </li>
                                <li>recursos.humanos@futhuro.net </li>
                                <li>social@futhuro.net </li>
                                <li>servicios@futhuro.net</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col 3">
                        <ul>
                            <li> <i class="fas fa-phone white-text"></i> (502) 3029 0876 <i class="fas fa-user white-text"></i> Gerente general</li> <i class="fas fa-envelope white-text"></i> b.alvarado@futhuro.net
                            <li> <i class="fas fa-phone white-text"></i> (502) 5617 1900 <i class="fas fa-user white-text"></i> Director de proyectos</li>

                        </ul>
                    </div>
                    <!-- Content -->




                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-xs-12 col-sm-6 col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <img src="../assets/img/a.png" alt="logo" width="75%;" class="">

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class=" footer-copyright text-center py-3 ">© 2019 Copyright:
            <a href="https://futhuro.net "> futhuro.net</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
<!-- <app-formulario></app-formulario> -->