<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Card-->
        <mdb-card dark="true">

            <!--Card image-->
            <!-- <div class="view overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div> -->
            <!--/.Card image-->

            <!--Card content-->
            <mdb-card-body class="elegant-color white-text">
                <a class="activator px-3 mr-2">
                    <i class="fas fa-share-alt white-text"></i>
                </a>

                <!--Title-->
                <mdb-card-title>
                    <h4>Servicio Contable y Fiscal</h4>
                </mdb-card-title>

                <hr class="hr-light">

                <!--Text-->

                <mdb-card-text class="white-text">
                    Contable:

                    <ul>

                        <li>Registro de transacciones contables</li>
                        <li>Elaboración de conciliaciones bancarias</li>
                        <li>Asesoramiento del tratamiento contable de las operaciones de la compañía</li>
                        <li>Preparación, revisión y estudio de estados ﬁnancieros</li>
                        <li>Elaboración de libros contables básicos y auxiliares</li>
                    </ul>

                </mdb-card-text>
                <mdb-card-text class="white-text">
                    Fiscal:
                    <ul>
                        <li>Inscripción y representación ante SAT como Contador General</li>
                        <li>Elaboración, revisión y presentación de declaraciones de impuestos</li>
                        <li>Preparación de libros contables básicos obligatorios ante SAT</li>
                        <li>Análisis y evaluación anual de la conveniencia del cambio de régimen del ISR</li>
                        <li>Análisis de reformas ﬁscales (efecto ﬁnanciero)</li>
                        <li>Evaluación de contingencias ﬁscales importantes de la compañía.</li>
                    </ul>
                    Auditorías en general
                </mdb-card-text>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->



    </div>
</div>